@model System.Collections.Hashtable
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs Sample11</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<h3 style="text-align:center;"><a href="/samples">GroupDocs .NET SDK Samples</a> - Sample11</h3>

<div class='samplecontent' style="padding:10px;">
   <span class="description"><i>How programmatically create and post an annotation into document using .NET SDK</i></span> <br/>
   <br />
   <span class="documentation"><a href="/docs/controllers/indexcontroller.html#section_176">Docs for this sample</a></span>
   <br />
   <br/><p>You entered:
@if (Model != null)
{
 
           <p>ClientID = @Model["client_id"]</p>
           <p>PrivateKey = @Model["private_key"]</p>
           <p>Page number = @Model["fileId"]</p>
           <p>Convert type = @Model["type"]</p>
           <p><font color="red">@Model["error"]</font></p>
      
}
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Make request" button </p>
   @using (Html.BeginForm("sample11", "Samples", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        <label for='client_id'>GroupDocs Client ID</label>
        <br />
        <input type='text', name='client_id' value="" />
        <br />
        <label for='private_key'>GroupDocs Private Key</label>
        <br />
        <input type='text', name='private_key'  value="" />
        <br /> 
        <input type="radio" name="sourse" value="guid" id="id" onClick="display('guid');" checked>File ID (GUID) </input>
       <br />
       <input type="radio" name="sourse" value="local" id="localField" onClick="display('local');" >Upload local file </input>
       <br />
       <input type="radio" name="sourse" value="url" id="urlField" onClick="display('url');" >Upload file from URL </input>
       <br />
       <br /> 
       <label for='private_key' id="guid">File ID (GUID)</label>
       <br />
       <input type='text' name='fileId'  id="guidfield" value="" />
       <br />
       <label for='private_key' style="display:none;" id="url">Upload file from URL</label>
        <br />
        <input type='text' name='url'  value="" id="urlfield" style="display:none;" />
        <label for='file' id="file" style="display:none;">Upload local file</label>
        <br />
        <input type='file' name='file' id="filefield" style="display:none;" />
       <br />
       <label for='server_type'>Base Path <font color="grey">(Optional)</font></label>
         <br />
        <input name="server_type" id="server_type" />
        <br />
        <select name="annotation_type" id="annotation_type">
                <option value="text" onclick="show_hide('text')";>Text</option>
                <option value="area" onclick="show_hide('area')";>Area</option>
                <option selected value="point" onclick="show_hide('point')";>Point</option>
            </select>
        <br />
        
       <fieldset style="border: thin solid #333; padding: 1em; margin-bottom: 5px;">
                <legend>Parameters (all are required)</legend>
                <div>
                    <span>Box X</span>
                    <input minlength="0" name="box_x" placeholder="double" type="text" value="">
                </div>
                <div>
                    <span>Box Y</span>
                    <input minlength="0" name="box_y" placeholder="double" type="text" value="">
                </div>

                <div id="box-params" style="display:none;">
                    <div>
                        <span>Box Width</span>
                        <input minlength="0" name="box_width" placeholder="double" type="text" value="">
                    </div>
                    <div>
                        <span>Box Height</span>
                        <input minlength="0" name="box_height" placeholder="double" type="text" value="">
                    </div>
                </div>

                <div id="annotation-position" style="display:none;">
                    <div>
                        <span>Annotation Position X</span>
                        <input minlength="0" name="annotationPosition_x" placeholder="double" type="text" value="">
                    </div>
                    <div>
                        <span>Annotation Position Y</span>
                        <input minlength="0" name="annotationPosition_y" placeholder="double" type="text" value="">
                    </div>
                </div>


                <div id="text-params" style="display:none;">
                    <div>
                        <span>Range Position</span>
                        <input minlength="0" name="range_position" placeholder="double" type="text" value="">
                    </div>
                    <div>
                        <span>Range Length</span>
                        <input minlength="0" name="range_length" placeholder="double" type="text" value="">
                    </div>
                </div>

                <div>
                    <span>Text</span>
                    <input minlength="0" name="text" placeholder="string" type="text" value="">
                </div>
            </fieldset>
            <br />
            <input type='submit' value='Make Request'/>
             
   }
            
        @if (Model != null)
        {
            if (Model["error"] != null)
            {
                @Model["error"]
            }
            else
            {
                    <div  style="padding:20px; border:1px solid black;">
                        <p> Results: </p>
                         @{
                            if(Model["basePath"].Equals("https://api.groupdocs.com/v2.0")) {
                                <iframe src = "https://apps.groupdocs.com/document-annotation2/embed/@Model["guid"]" frameborder="0" width="700" height="700"></iframe>
                            } else if(Model["basePath"].Equals("https://dev-api-groupdocs.dynabic.com/v2.0")) {
                                <iframe src = "https://dev-apps.groupdocs.com/document-annotation2/embed/@Model["guid"]" frameborder="0" width="700" height="700"></iframe>
                            } else if(Model["basePath"].Equals("https://stage-api.groupdocs.com/v2.0")) {
                                <iframe src = "https://stage-apps.groupdocs.com/document-annotation2/embed/@Model["guid"]" frameborder="0" width="700" height="700"></iframe>
                            }
                         }
                   </div>
            }
        }
  </div>
</div>

    @Html.Partial("links")

  <script type="text/javascript">
     
        function display(_element_id) {

            if (_element_id == "guid") {
                var element1 = document.getElementById("file");
                var element2 = document.getElementById("filefield");
                var element3 = document.getElementById("url");
                var element4 = document.getElementById("urlfield");
                var element5 = document.getElementById("guid");
                var element6 = document.getElementById("guidfield");
                element1.style.display = "none";
                element2.style.display = "none";
                element3.style.display = "none";
                element4.style.display = "none";
                element5.style.display = "inline";
                element6.style.display = "inline";

            }

            if (_element_id == "local") {
                var element1 = document.getElementById("file");
                var element2 = document.getElementById("filefield");
                var element3 = document.getElementById("url");
                var element4 = document.getElementById("urlfield");
                var element5 = document.getElementById("guid");
                var element6 = document.getElementById("guidfield");
                element1.style.display = "inline";
                element2.style.display = "inline";
                element3.style.display = "none";
                element4.style.display = "none";
                element5.style.display = "none";
                element6.style.display = "none";

            }

            if (_element_id == "url") {
                var element1 = document.getElementById("url");
                var element2 = document.getElementById("urlfield");
                var element3 = document.getElementById("file");
                var element4 = document.getElementById("filefield");
                var element5 = document.getElementById("guid");
                var element6 = document.getElementById("guidfield");
                element1.style.display = "inline";
                element2.style.display = "inline";
                element3.style.display = "none";
                element4.style.display = "none";
                element5.style.display = "none";
                element6.style.display = "none";
            }

        }

      function show_hide(_element_id) {

          if (_element_id == "point") {
              var element1 = document.getElementById("box-params");
              var element2 = document.getElementById("annotation-position");
              var element3 = document.getElementById("text-params");
              element1.style.display = "none";
              element2.style.display = "none";
              element3.style.display = "none";
          }

          if (_element_id == "text") {
              var element1 = document.getElementById("box-params");
              var element2 = document.getElementById("annotation-position");
              var element3 = document.getElementById("text-params");
              element1.style.display = "inline";
              element2.style.display = "inline";
              element3.style.display = "inline";
          }

          if (_element_id == "area") {
              var element1 = document.getElementById("box-params");
              var element2 = document.getElementById("annotation-position");
              var element3 = document.getElementById("text-params");
              element1.style.display = "inline";
              element2.style.display = "none";
              element3.style.display = "none";
          }

      }
</script>
</body>
</html>