@model System.Collections.Hashtable
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs Sample07</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<h3 style="text-align:center;"><a href="/samples">GroupDocs .NET SDK Samples</a> - Sample07</h3>

<div class='samplecontent' style="padding:10px;">
   <span class="description"><i>This sample will show how to create a list of thumbnails for a document using .NET SDK</i></span> <br/>
   <br />
   <span class="documentation"><a href="/docs/controllers/indexcontroller.html#section_117">Docs for this sample</a></span>
   <br />
   <br/><p>You entered:
@if (Model != null) {
 
           <p>ClientID = @Model["client_id"]</p>
           <p>PrivateKey = @Model["private_key"]</p>
           <p><font color="red">@Model["error"]</font></p>
      
}
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Make request" button </p>
   @using (Html.BeginForm("sample07", "Samples", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        <label for='client_id'>GroupDocs Client ID</label>
        <br />
        <input type='text', name='client_id' value="" />
        <br />
        <label for='private_key'>GroupDocs Private Key</label>
        <br />
        <input type='text', name='private_key'  value="" />
        <br />
       <label for='server_type'>Base path<span class="optional">(Optional)</span></label>
        <br />
        <input type ="text" name="server_type" id="server_type" />
       <br />
        <input type='submit' value='Make Request'/>
   }
    </div>
@if (Model != null) {
    <div  style="padding:20px; border:1px solid black;">
        <p> Results: </p>
         @if (Model["error"] != null)
            {
                @Model["error"]
            } else {
        <table style="border:1px double black;">
          <tr>
              <th>Field</th><th>Value</th>
          </tr>
          <tr>
              <td>                  
                 @Model["images"]
              </td>
          </tr>
        </table>
        }
   </div>
}
</div>

    @Html.Partial("links")
</body>
</html>