@model System.Collections.Hashtable
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs Sample12</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<h3 style="text-align:center;"><a href="/samples">GroupDocs .NET SDK Samples</a> - Sample12</h3>

<div class='samplecontent' style="padding:10px;">
   <span class="description"><i>This sample will show how to list all annotations from document using .NET SDK</i></span> <br/>
   <br />
   <span class="documentation"><a href="/docs/controllers/indexcontroller.html#section_195">Docs for this sample</a></span>
   <br />
   <br/><p>You entered:
@if (Model != null) {
 
           <p>ClientID = @Model["client_id"]</p>
           <p>PrivateKey = @Model["private_key"]</p>
           <p>File Id = @Model["fileId"]</p>
           <p><font color="red">@Model["error"]</font></p>
      
}
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Make request" button </p>
   @using (Html.BeginForm("sample12", "Samples", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        <label for='client_id'>GroupDocs Client ID</label>
        <br />
        <input type='text', name='client_id' value="" />
        <br />
        <label for='private_key'>GroupDocs Private Key</label>
        <br />
        <input type='text', name='private_key'  value="" />
        <br /> 
        <label for='private_key'>FileID</label>
        <br />
        <input type='text', name='fileId'  value="" />
        <br />
       <label for='server_type'>Base Path <font color="grey">(Optional)</font></label>
         <br />
        <input name="server_type" id="server_type" />
       <br />
        <input type='submit' value='Make Request'/>
   }
     </div>
        @if (Model != null) {
            if (Model["error"] != null)
            {
                @Model["error"]
            } else {
                    <div  style="padding:20px; border:1px solid black;">
                        
                         @Model["div"]
                   </div>
            }
        }
 
</div>

    @Html.Partial("links")
</body>
</html>