@model System.Collections.Hashtable
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs Sample09</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<h3 style="text-align:center;"><a href="/index.php">GroupDocs .NET SDK Samples</a> - Sample09</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to generate an embedded Viewer URL for a Document using .NET SDK</i> <br/>
   <br />
   <a href="docs/sample01.html">Docs for this sample</a>
   <br />
   <br/><p>You entered:
@if (Model != null) {
 
           <p>ClientID = @Model["fileId"]</p>
           <p>PrivateKey = @Model["width"]</p>
           <p>Page number = @Model["height"]</p>
           <p><font color="red">@Model["error"]</font></p>
      
}
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Make request" button </p>
   @using (Html.BeginForm("sample09", "Samples", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        <label for='private_key'>FileID</label>
        <br />
        <input type='text', name='fileId'  value="" />
        <br />
        <label for='private_key'>Width</label>
        <br />
        <input type='text', name='width'  value="" />
        <br />
        <label for='private_key'>Height</label>
        <br />
        <input type='text', name='height'  value="" />
        <br />
        <input type='submit' value='Make Request'/>
   }
    
        @if (Model != null) {
            if (Model["error"] != null)
            {
                @Model["error"]
            } else {
                  <div  style="padding:20px; border:1px solid black;">
                    <iframe src=@Model["iframe"]></iframe>
                  </div>
            }
        }
  </div>
</div>

    @Html.Partial("links")
</body>
</html>