@model System.Collections.Hashtable
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs Sample14</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<h3 style="text-align:center;"><a href="/samples">GroupDocs .NET SDK Samples</a> - Sample14</h3>

<div class='samplecontent' style="padding:10px;">
   <i>This sample will show how to check the list of shares for a folder using .NET SDK</i> <br/>
   <br />
   <a href="/docs/controllers/indexcontroller.html#section_160">Docs for this sample</a>
   <br />
   <br/><p>You entered:
@if (Model != null) {
 
           <p>ClientID = @Model["client_id"]</p>
           <p>PrivateKey = @Model["private_key"]</p>
           <p>File Id = @Model["fileId"]</p>
           <p>Path = @Model["path"]</p>
           <p><font color="red">@Model["error"]</font></p>
      
}
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Make request" button </p>
   @using (Html.BeginForm("sample14", "Samples", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        <label for='client_id'>GroupDocs Client ID</label>
        <br />
        <input type='text', name='client_id' value="" />
        <br />
        <label for='private_key'>GroupDocs Private Key</label>
        <br />
        <input type='text', name='private_key'  value="" />
        <br />
        <label for='path'>Folder path</label>
        <br />
        <input type='text', name='path'  value="" />
        <br />
        <input type='submit' value='Make Request'/>
   }
    
        @if (Model != null) {
            if (Model["error"] != null)
            {
                @Model["error"]
            } else {
                    <div  style="padding:20px; border:1px solid black;">
                        <p> Results: </p>
                        <p>Shared users: <font color="green">@Model["shares"]</font> </p>
                   </div>
            }
        }
  </div>
</div>

    @Html.Partial("links")
</body>
</html>