@model System.Collections.Hashtable
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs Sample05</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<h3 style="text-align:center;"><a href="/samples">GroupDocs .NET SDK Samples</a> - Sample05</h3>

<div class='samplecontent' style="padding:10px;">
   <span class="description"><i>This sample will show how to copy / move a file using the GroupDocs Storage API using .NET SDK</i></span> <br/>
   <br />
   <span class="documentation"><a href="/docs/controllers/indexcontroller.html#section_68">Docs for this sample</a></span>
   <br />
   <br/><p>You entered:
@if (Model != null) {
 
           <p>ClientID = @Model["client_id"]</p>
           <p>PrivateKey = @Model["private_key"]</p>
           <p>File GuId = @Model["fileId"]</p>
           <p>Folder = @Model["destPath"]</p>
           <p><font color="red">@Model["error"]</font></p>
      
}
   <br/>
   <div id="requestForm" style="padding:20px; border:1px solid black;">
   <p> Enter data for request and press "Make request" button </p>
   @using (Html.BeginForm("sample05", "Samples", FormMethod.Post, new { enctype = "multipart/form-data" }))
   {
        <label for='client_id'>GroupDocs Client ID</label>
        <br />
        <input type='text', name='client_id' value="" />
        <br />
        <label for='private_key'>GroupDocs Private Key</label>
        <br />
        <input type='text' name='private_key'  value="" />
        <br />
       <input type="radio" name="sourse" value="guid" id="id" onClick="display('guid');" checked>File ID (GUID) </input>
       <br />
       <input type="radio" name="sourse" value="local" id="localField" onClick="display('local');" >Upload local file </input>
       <br />
       <input type="radio" name="sourse" value="url" id="urlField" onClick="display('url');" >Upload file from URL </input>
       <br />
       <br /> 
       <label for='private_key' id="guid">File ID (GUID)</label>
       <br />
       <input type='text' name='srcPath'  id="guidfield" value="" />
       <br />
       <label for='private_key' style="display:none;" id="url">Upload file from URL</label>
        <br />
        <input type='text' name='url'  value="" id="urlfield" style="display:none;" />
        
        <label for='file' id="file" style="display:none;">Upload local file</label>
        <br />
        <input type='file' name='file' id="filefield" style="display:none;" />
        <br />
       <br />
       <label for='private_key'>Folder in which you want to copy file</label>
       <br />
       <input type='text' name='destPath'  value="" />
       <br />
       <label for='server_type'>Base Path <font color="grey">(Optional)</font></label>
         <br />
        <input name="server_type" id="server_type" />
       <br />
       <input name='copy' type='submit' value='Copy'/>
       <input name='move' type='submit' value='Move'/>
   }

  </div>

    @if (Model != null)
    {
        
        <h4><font color="green">Your file was @Model["button"] to: @Model["path"]</font></h4>
    }
    
</div>

    @Html.Partial("links")
    <script type="text/javascript">
        function display(_element_id) {

            if (_element_id == "guid") {
                var element1 = document.getElementById("file");
                var element2 = document.getElementById("filefield");
                var element3 = document.getElementById("url");
                var element4 = document.getElementById("urlfield");
                var element5 = document.getElementById("guid");
                var element6 = document.getElementById("guidfield");
                element1.style.display = "none";
                element2.style.display = "none";
                element3.style.display = "none";
                element4.style.display = "none";
                element5.style.display = "inline";
                element6.style.display = "inline";

            }

            if (_element_id == "local") {
                var element1 = document.getElementById("file");
                var element2 = document.getElementById("filefield");
                var element3 = document.getElementById("url");
                var element4 = document.getElementById("urlfield");
                var element5 = document.getElementById("guid");
                var element6 = document.getElementById("guidfield");
                element1.style.display = "inline";
                element2.style.display = "inline";
                element3.style.display = "none";
                element4.style.display = "none";
                element5.style.display = "none";
                element6.style.display = "none";

            }

            if (_element_id == "url") {
                var element1 = document.getElementById("url");
                var element2 = document.getElementById("urlfield");
                var element3 = document.getElementById("file");
                var element4 = document.getElementById("filefield");
                var element5 = document.getElementById("guid");
                var element6 = document.getElementById("guidfield");
                element1.style.display = "inline";
                element2.style.display = "inline";
                element3.style.display = "none";
                element4.style.display = "none";
                element5.style.display = "none";
                element6.style.display = "none";
            }

        }
</script>
</body>
</html>